$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#map {
  // height: 1100px;
  // width: 1900px;
  height: 1050px;
  width: 1680px;
}
